---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.homepage-title{
    text-align: center;
}
.homepage-title h1{
    margin-bottom: 8px;
}
.homepage-title .subtitle{
    font-size: 20px;
    color: slategray;
    margin-bottom: 22px;
}
.h1-wrap h1{
    display: inline-block;
    padding-top: 1rem;
}
.h1-bitmoji{
    height: 45px;
    top: -5px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
}
.img-wrap-center {
        display: flex;
        justify-content: center;
    }

.bitmoji-header {
    max-width: 300px;
    padding-bottom: 2rem;
}

#ben-in-tienda {
    max-width: 350px;
    margin-bottom: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#avocado-head {
    max-width: 425px;
    margin: 2rem 0;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
// .post h2::before {
//     display: inline;
//     position: relative;
//     top: 5px;
//     content: url("/assets/img/01-bitmoji-neutral-50px.png");
// }

.blog-posts{
    list-style: none;
}
.blog-posts__li h2{
    position: relative;
    left: -30px;
}
.blog-posts__list-icon{
    height: 40px;
    display: inline-block;
    position: relative;
    bottom: 7px;
    padding-right: .2rem;
}

.bitmoji-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
}
.bitmoji-divider__bitmoji{
    padding: 0 .65rem;
    height: 30px;
}
@media screen and (max-width:400px){
    #avocado-head, #ben-in-tienda, #bitmoji-header{
        width: 250px;
        height:250px;
    }
    .blog-posts__list-icon{display: none}
}
    
    



