---

---

@import "minima";

.nav-bitmoji{
    height: 54px; 
    width: 54px;
    position: relative; 
    bottom: 7px;
}
// .nav-bitmoji:hover{
//     display: none;
// }
// .nav-bitmoji--hover{
//     display: none;
// }
// .nav-bitmoji--hover:hover{
//     display: inline;
//     height: 54px;
//         width: 54px;

//     position: relative;
//     bottom: 7px;
// }


.homepage-title{
    text-align: center;
}
.homepage-title h1{
    margin-bottom: 8px;
}
.subtitle{
    font-size: 20px;
    color: slategray;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-wrap h1{
    display: inline-block;
    padding-top: 1rem;
}
.h1-bitmoji{
    height: 45px;
    top: -5px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
}
.img-wrap-center {
        display: flex;
        justify-content: center;
}
.projects{
    margin-bottom: 2rem;
}
.projects__container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.projects__project-container{
    width: 225px;
    height: 225px;
    background-image: url(/assets/sad-icecream-ben.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: .5rem 0;
    cursor: pointer;
}
#projects__rappa-mappa{
   background-image: url(/assets/img/rappa-mappa-thumbnail.png);
}
#projects__tappdin{
    background-image: url(/assets/img/tappdin-thumbnail.png);
}
#projects__ben-perlmutter-io{
    background-image: url(/assets/img/ben-perlmutter-io-thumbnail.png);
}
.projects__project-description{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: .5rem;
    height: 40px;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: .25rem;
    // z-index: 1;
    box-sizing: border-box;
    color: #f5f5f5;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.2s linear;
}
// note: external expand is for when it's triggered by clicking on the img itself
.projects__project-container:hover{
    transform: scale(1.1);
    z-index: 2;
}
.projects__project-description--expand:hover,
.projects__project-description--expand:active,
.projects__project-description--external-expand{
    height: 150px;
}

.projects__project-title{
    align-self: center;
}
.projects__project-info{
    font-size: 14px;
}
.projects__project-learn-more-btn{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    text-align: center;
    color: #333 !important;
    padding: .25rem;
    text-decoration: none;
    margin-left: .5rem;
    display: inline-block;
    width: 50%;
    cursor: pointer;
    border-radius: .25rem;
}
.projects__project-learn-more-btn:hover{
    text-decoration: none;
    background-color: #333;
    color: #f5f5f5 !important;
}
.technologies__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.technologies__title{
    padding-top: 1rem;
}
.technologies__img {
    width: 80px;
    height: 80px;
    padding: 1rem;
    cursor: pointer;
}
.technologies__img:hover{
    transform: scale(1.25);
}
.technologies__img--inactive{
    opacity: .5;
}

.technologies__description{
    display: none;
    border: 1px solid darkgray;
    border-radius: 3rem;
    background-color: whitesmoke;
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    // height: 0;
    overflow-y: auto;
    transition: height ease-in 10s;
}

.technologies__description--active{
    display: block;
    // height: 100px;
}
.technologies__header{
    font-weight: bold;
    padding: .5rem 0 0 .5rem;
    font-size: 1.25em;
}

.bitmoji-header {
    width: 300px;
    height:300px;
    padding-bottom: 2rem;
}

#ben-in-tienda {
    max-width: 350px;
    margin-bottom: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#avocado-head {
    max-width: 425px;
    margin: 2rem 0;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.blog-posts{
    list-style: none;
}
.blog-posts__li h2{
    position: relative;
    left: -30px;
}
.blog-posts__list-icon{
    height: 40px;
    display: inline-block;
    position: relative;
    bottom: 7px;
    padding-right: .2rem;
}

.bitmoji-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
}
.bitmoji-divider__bitmoji{
    padding: 0 .65rem;
    height: 30px;
    transition: .75s;
}
.bitmoji-divider__bitmoji:hover{
    transform: rotate(360deg);
}

.blog-posts__read-more{
    font-weight: bold;
}
.blog-posts__hr-after{
    margin-top: 1rem;
    margin-bottom: 2rem;
}


@media screen and (max-width:400px){
    #avocado-head, #ben-in-tienda, #bitmoji-header{
        width: 250px;
        height:250px;
    }
    .blog-posts__list-icon{display: none}
}
    
    



